@media (max-width:1200px){/*breakpoint*/
    #year,#month,#day,#value{
        width: 130px;
    }
    #type{
        width: 450px;
    }
    #description{
        width: 610px;
    }
}
@media (max-width:900px){/*breakpoint*/
    #year,#month,#day,#value{
        width: 90px;
    }
    #type{
        width: 330px;
    }
    #description{
        width: 450px;
    }
    
}
@media (max-width:770px){/*breakpoint*/
    main{
        margin: 2%;
    }
    #row1,#row2{
        flex-direction: column;
    }
    #row2{
        margin-top: 0;
    }
    #year,#month,#day,#value,#type,#description{
        margin:0;
        margin-top: 5px;
        width: 100%;
    }
    #row2 > button{
        margin-left: auto;
    }
    table{
        width: 100%;
    }
    td{
        width: 100%;
        padding: 0.35rem;
    }
    #pop-up{
        width: 100%;
    }
    #navbar > ul{
        background-color: #007bff;
        flex-direction: column;
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        visibility: hidden;
        height: 0;
        overflow-y: hidden;
        transition: .6s;/*transicao suave quando o botao for clicado*/
    }
    #navbar > ul >li{
        padding-bottom: 5px;
    }
    #navbar > ul >li > a{
        padding: 5px;
    }
    ul.dropDown{
        visibility: visible;
        height: 71px;
    }
    #navbar > button{
        display: block;
        position: relative;
        top:5px;
        margin-left:auto;
        width: 56px;
        height: 40px;
        text-align: center;
        background-color: #007bff;
        border: 1px solid #f8f9fac2;
        border-radius: .25rem;
        cursor:pointer;
        margin-bottom: 5px;
    }
    #navbar > button > span{
        font-size: 40px;
        color: #f8f9fac2;
    }
    #container{
        margin-top: 5px;
        transition: .6s;
    }
}